.header-list {
  border: 1px solid red;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header-list-item {
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid red;
}
